
// 侧边栏菜单相关
$side-bar-width: 210px;
$menu-bg:#304156;
$menu-hover-bg: #263445;
$menu-text-color: #bfcbd9;
$menu-active-text-color: #409EFF;
$sub-menu-bg: #1f2d3d;
$sub-menu-hover-bg: #001528;
$sub-menu-active-text-color: #f4f4f5;

